In [19]:
library(httr)
library(jsonlite)
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.0.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter()  masks stats::filter()
✖ purrr::flatten() masks jsonlite::flatten()
✖ dplyr::lag()     masks stats::lag()

In [9]:
url="https://api.github.com/repos/numpy/numpy/stats/contributors"
res = GET(url)

In [10]:
data = fromJSON(rawToChar(res$content))

In [11]:
names(data)

[1] "total"  "weeks"  "author"

In [12]:
print(data$total)

 [1]   56  797   20   42   16   96   48   25  127  805   29   30   28  153   33
[16]   15   17   18  971   24   19   18   57   58  134  168   28   25   20  217
[31]   17   24   64   32   29  717   63   45   37   21  517   25   23 1094   50
[46]   18   79  110  159 2095 1472   18   49   15   24   72  459   87  167   39
[61]   16   34   20  132  127   46 1021   21   18  246  129  100   34   16  483
[76]   81   17  179  574  134 2010   47   66  158   28   53   26   23   23   18
[91]   24   49   22   58   21   37   16  229

In [24]:
author<-data$author
index_data<-which(author$login=='mattip')

In [28]:
data$total[index_data]

[1] 797

In [30]:
data_weeks<-data$weeks
current_user<-data_weeks[[index_data]]

[1] "w" "a" "d" "c"

In [32]:
library(anytime)
current_user$w<-anydate(current_user$w)

In [33]:
adds_per_user <- function(current_user) {
  df_adds<-current_user%>%group_by(w)%>%summarise(adds=sum(a))%>%arrange(desc(w))
  return(df_adds)
}

In [34]:
adds_per_user(current_user)

     w          adds
1    2022-02-12   25
2    2022-02-05    1
3    2022-01-29  190
4    2022-01-22   91
5    2022-01-15    3
6    2022-01-08    0
7    2022-01-01    3
8    2021-12-25    0
9    2021-12-18    2
10   2021-12-11   57
11   2021-12-04    0
12   2021-11-27    8
13   2021-11-20    0
14   2021-11-13   92
15   2021-11-06  100
16   2021-10-30  536
17   2021-10-23 1469
18   2021-10-16    0
19   2021-10-09    2
20   2021-10-02   16
21   2021-09-25   13
22   2021-09-18    0
23   2021-09-11    0
24   2021-09-04    0
25   2021-08-28    0
26   2021-08-21   26
27   2021-08-14    2
28   2021-08-07   14
29   2021-07-31    0
30   2021-07-24    0
⋮    ⋮          ⋮
1024 2002-07-06 0
1025 2002-06-29 0
1026 2002-06-22 0
1027 2002-06-15 0
1028 2002-06-08 0
1029 2002-06-01 0
1030 2002-05-25 0
1031 2002-05-18 0
1032 2002-05-11 0
1033 2002-05-04 0
1034 2002-04-27 0
1035 2002-04-20 0
1036 2002-04-13 0
1037 2002-04-06 0
1038 2002-03-30 0
1039 2002-03-23 0
1040 2002-03-16 0
1041 2002-03-09 0
1042 2002-03-02 0
1043 2002-02-23 0
1044 2002-02-16 0
1045 2002-02-09 0
1046 2002-02-02 0
1047 2002-01-26 0
1048 2002-01-19 0
1049 2002-01-12 0
1050 2002-01-05 0
1051 2001-12-29 0
1052 2001-12-22 0
1053 2001-12-15 0